
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Comfortaa&family=Quicksand&family=Roboto+Mono&display=swap');

/*get white icons*/
h1, h2, p{
    text-align: center;
    
}
body{
    background: url("https://i.pinimg.com/originals/9c/fc/4c/9cfc4c37f3d447fb4ece4f05e64fa9a9.gif");
    padding: 10px;
}
.header{
    display:flex;
    justify-content: center;
    width: 100%;
}
.header img{
    width: 40px;
    height:40px;
    margin: 5px;
}
.menu{
    width : 80%;
    max-width: 800px;
    background-color: #bfe6fc;
    margin: 15px auto;
    padding: 10px 40px;
    border-radius: 10px;
}
.item p{
    display: inline-block;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}
.established{
    font-family: 'Roboto Mono', monospace;
}
h2{
    font-size: 26px;
    font-family: 'Comfortaa', cursive;
}
h1{
    font-family: 'Comfortaa', cursive;
}
h1, h2{
    text-shadow: rgb(8, 72, 132) 4px 0 30px;
    color: white;
}
.flavor, .dessert{
    text-align: left;
    width: 75%;
}
.price{
    text-align: right;
    width: 25%;
}
hr{
    background-color: rgb(17, 17, 133);
    height: 2px;
    border-color: rgb(17, 17, 133);
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.icon{
    width: 60px;
    padding: 0% 45%;
    margin-top: -15px;
    
    
}
footer{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: -20px;
}
.footerone{
    font-size:18px;
}
.footertwo{
    font-size: 14px;
}