h1, h2, p{
    text-align: center;
}
body{
    background: url("https://i.pinimg.com/originals/9c/fc/4c/9cfc4c37f3d447fb4ece4f05e64fa9a9.gif");
    
}
.menu{
    width : 80%;
    background-color: #bfe6fc;
    margin: 15px auto;
    padding: 10px 20px;
}
.item p{
    display: inline-block;
}
.flavor{
    text-align: left;
    width: 75%;
}
.price{
    text-align: right;
    width: 25%;
}